<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p>id=<span th:text="${user.id}">VALUE</span></p>
<p>first name=<span th:text="${user.firstName}">VALUE</span></p>
<p>last name=<span th:text="${user.lastName}">VALUE</span></p>
<p>age=<span th:text="${user.age}">VALUE</span></p>

<a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
      <input type="submit" value="Delete">
</form>
</body>
</html>